{% layout "layout.liquid" %}
{% block content %}
      <div>
        <form 
        action="/user/login" 
        method="post">
          <fieldset>
            <legend>User Login</legend>
            <label
              >USERNAME: 
              <input 
              type="text" 
              name="username" 
              required />
            </label>
            <label
              >PASSWORD: 
              <input 
              type="password" 
              name="password" 
              required />
            </label>
            <input type="submit" value="Login" />
            <a href="/user/signup"><button>Signup</button></a>
          </fieldset>
        </form>
      </div>
{% endblock %}
