{% layout "layout.liquid" %} {% block content %}
<div>
    <nav class="homeButton">
        <a href="/ballets"><button class="buttonOne">Ballets</button></a>
        <a href="/companies"><button class="buttonTwo">Companies</button></a>
    </nav>

    <a href="/user/logout"><button>Logout</button></a>
</div>
{% endblock %}