{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/companies/new"><button>Create A New Company</button></a>
  {% for company in companies %}
  <article>
    <a href="/companies/{{ company.id }}">{{ company.name }}</a>
      <h2>
        <!-- {{ballet.name}} - {% if ballet.watched == true %} Watched {% else %} Not
        Watched {% endif %} -->
      </h2>
    </a>

  </article>
  {% endfor %}
  <a href="/user/logout"><button>Logout</button></a>
</div>
{% endblock %}