{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/companies" method="post">
    <fieldset>
      <legend>Create a New Company</legend>
      <label>
        NAME:
        <input 
        type="text" 
        name="name" 
        placeholder="enter company name" />
      </label>
      <label>
        LOCATION:
        <input 
        type="text" 
        name="location" 
        placeholder="enter company name" />
      </label>
      <label> WATCHED:
        <input 
        type="checkbox" 
        name="watched" /> 
      </label>
    </fieldset>
    <input 
    type="submit" 
    value="create new company" />
  </form>
  <a href="/companies/"><button>Back</button></a>
</div>
{% endblock %}
