{% layout "layout.liquid" %} {% block content %}
<div>
  <nav class="balletCreate"><a href="/ballets/new"><button>Create A New Ballet</button></a></nav>
  {% for ballet in ballets %}
  <article>
    <a href="/ballets/{{ ballet.id }}">{{ ballet.name }}</a>
      <h2>
        <!-- {{ballet.name}} - {% if ballet.watched == true %} Watched {% else %} Not
        Watched {% endif %} -->
      </h2>
    </a>

  </article>
  {% endfor %}
  <a href="/user/logout"><button>Logout</button></a>
</div>
{% endblock %}